<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Xin chao Nestjs!</h1>
    <h2>
        Message : <%= message %></h2>
    <img  src="images/photo.jpeg"/>
  </body>
</html>